@font-face {
    font-family: 'SemiMono';
    src: url("semi-mono.otf") format("opentype");
}

body {
    font-family: 'SemiMono';
}

p {
    font-size: 12px;
}

h1 {
    font-size: 16px;
}

h2{
    font-size: 14px;
}